In [16]:
%%capture
%pip install yfinance

In [17]:
import yfinance as yf
import datetime

In [ ]:
df = yf.download(['^NSEI'], period='max')
df.head()

C:\Users\ishui\AppData\Local\Temp\ipykernel_27160\2772433040.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(['NIFTYMIDCAP150.NS', '^NSEI'], period='5y')
[*********************100%***********************]  2 of 2 completed

Price                  Close                            High                \
Ticker     NIFTYMIDCAP150.NS         ^NSEI NIFTYMIDCAP150.NS         ^NSEI
Date
2020-07-27       5812.799805  11131.799805       5903.100098  11225.000000
2020-07-28       5855.450195  11300.549805       5862.100098  11317.750000
2020-07-29       5881.049805  11202.849609       5923.649902  11341.400391
2020-07-30       5837.000000  11102.150391       5915.549805  11299.950195
2020-07-31       5866.700195  11073.450195       5876.549805  11150.400391

Price                    Low                            Open                \
Ticker     NIFTYMIDCAP150.NS         ^NSEI NIFTYMIDCAP150.NS         ^NSEI
Date
2020-07-27       5805.500000  11087.849609       5896.850098  11225.000000
2020-07-28       5824.399902  11151.400391       5826.700195  11154.099609
2020-07-29       5863.149902  11149.750000       5875.649902  11276.900391
2020-07-30       5826.700195  11084.950195       5906.350098  11254.299805
2020-07-31       5821.450195  11026.650391       5852.700195  11139.500000

Price                 Volume
Ticker     NIFTYMIDCAP150.NS   ^NSEI
Date
2020-07-27               0.0  588100
2020-07-28               0.0  683900
2020-07-29               0.0  600700
2020-07-30               0.0  677800
2020-07-31               0.0  642600

In [19]:
closing_prices = df['Close']
print(closing_prices.info())
closing_prices.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1239 entries, 2020-07-27 to 2025-07-25
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NIFTYMIDCAP150.NS  1238 non-null   float64
 1   ^NSEI              1239 non-null   float64
dtypes: float64(2)
memory usage: 29.0 KB
None

Ticker      NIFTYMIDCAP150.NS         ^NSEI
Date
2020-07-27        5812.799805  11131.799805
2020-07-28        5855.450195  11300.549805
2020-07-29        5881.049805  11202.849609
2020-07-30        5837.000000  11102.150391
2020-07-31        5866.700195  11073.450195

In [20]:
closing_prices.dropna(inplace=True)
print(len(closing_prices))

1238

C:\Users\ishui\AppData\Local\Temp\ipykernel_27160\646364951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing_prices.dropna(inplace=True)

In [21]:
closing_prices["nifty_150_pct_change"] = closing_prices["NIFTYMIDCAP150.NS"].pct_change() * 100
closing_prices["nifty_pct_change"] = closing_prices["^NSEI"].pct_change() * 100

C:\Users\ishui\AppData\Local\Temp\ipykernel_27160\197711268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing_prices["nifty_150_pct_change"] = closing_prices["NIFTYMIDCAP150.NS"].pct_change() * 100
C:\Users\ishui\AppData\Local\Temp\ipykernel_27160\197711268.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing_prices["nifty_pct_change"] = closing_prices["^NSEI"].pct_change() * 100

In [22]:
closing_prices

Ticker,NIFTYMIDCAP150.NS,^NSEI,nifty_150_pct_change,nifty_pct_change
Date,,,,
2020-07-27,5812.799805,11131.799805,NaN,NaN
2020-07-28,5855.450195,11300.549805,0.733732,1.515927
2020-07-29,5881.049805,11202.849609,0.437193,-0.864561
2020-07-30,5837.000000,11102.150391,-0.749013,-0.898871
2020-07-31,5866.700195,11073.450195,0.508826,-0.258510
...,...,...,...,...
2025-07-21,21997.000000,25090.699219,0.632011,0.489814
2025-07-22,21884.050781,25060.900391,-0.513476,-0.118764
2025-07-23,21949.250000,25219.900391,0.297930,0.634454
2025-07-24,21856.150391,25062.099609,-0.424158,-0.625699
2025-07-25,21501.599609,24837.000000,-1.622201,-0.898167

In [23]:
BUDGET = 1000000 # 10 lakhs
INVESTMENT_CHUNK = 50000
START_DATE = datetime.date(2020, 8, 24)
START_DATE

datetime.date(2020, 8, 24)

In [24]:
def calculate_returns_SIP(closing_prices, start_date, budget, investment_chunk):
    print(f"Calculating SIP returns from {start_date}, with investment chunk = {investment_chunk} and budget = {budget}")
    df = closing_prices[start_date:]
    corpus = 0
    deposit_count = 0
    prev_month = 0
    invested_amt = 0
    for row in df.iterrows():
        curr_month = row[0].date().month
        if invested_amt < budget and prev_month != curr_month:
            corpus += investment_chunk
            invested_amt += investment_chunk
            deposit_count += 1
            prev_month = curr_month
        corpus *= (100 + row[1]['nifty_pct_change'])/100

    returns = corpus - invested_amt
    print("Number of installments:", deposit_count)
    print("Invested corpus:", invested_amt)
    print("Total corpus at end:", corpus)
    print("Returns:", returns)
    print("Returns %:", returns/invested_amt * 100, "%")

In [25]:
def calculate_returns_lumpsum(closing_prices, start_date, budget, investment_chunk):
    print(f"Calculating lumpsum returns from {start_date}, with investment chunk = {investment_chunk} and budget = {budget}")
    df = closing_prices[start_date:]
    corpus = budget
    for row in df.iterrows():
        corpus *= (100 + row[1]['nifty_pct_change'])/100
    returns = corpus - budget
    print("Invested corpus:", budget)
    print("Total corpus at end:", corpus)
    print("Returns:", returns)
    print("Returns %:", returns/budget * 100, "%")

In [ ]:
# Invest chunk whenever price drops by 1% in a day
def calculate_returns_dip(closing_prices, start_date, budget, investment_chunk):
    print(f"Calculating dip buying returns from {start_date}, with investment chunk = {investment_chunk} and budget = {budget}")
    print("Investing every time index falls >1%")
    df = closing_prices[start_date:]
    corpus = 0
    deposit_count = 0
    invested_amt = 0
    for row in df.iterrows():
        corpus *= (100 + row[1]['nifty_pct_change'])/100
        if invested_amt < budget and row[1]['nifty_pct_change'] < -1.0:
            corpus += investment_chunk
            invested_amt += investment_chunk
            deposit_count += 1
    returns = corpus - budget
    print("Number of installments:", deposit_count)
    print("Invested corpus:", invested_amt)
    print("Total corpus at end:", corpus)
    print("Returns:", returns)
    print("Returns %:", returns/invested_amt * 100, "%")

Calculating dip buying returns from 2020-08-24, with investment chunk = 50000 and budget = 1000000
Investing every time index falls >1%
Number of installments: 20
Invested corpus: 1000000
Total corpus at end: 1914706.3647373845
Returns: 914706.3647373845
Returns %: 91.47063647373845 %

In [28]:
calculate_returns_lumpsum(closing_prices, START_DATE, BUDGET, INVESTMENT_CHUNK)
calculate_returns_SIP(closing_prices, START_DATE, BUDGET, INVESTMENT_CHUNK)
calculate_returns_dip(closing_prices, START_DATE, BUDGET, INVESTMENT_CHUNK)

Calculating lumpsum returns from 2020-08-24, with investment chunk = 50000 and budget = 1000000
Invested corpus: 1000000
Total corpus at end: 2184125.4399709813
Returns: 1184125.4399709813
Returns %: 118.41254399709813 %
Calculating SIP returns from 2020-08-24, with investment chunk = 50000 and budget = 1000000
Number of installments: 20
Invested corpus: 1000000
Total corpus at end: 1706836.2503333045
Returns: 706836.2503333045
Returns %: 70.68362503333046 %
Calculating dip buying returns from 2020-08-24, with investment chunk = 50000 and budget = 1000000
Investing every time index falls >1%
Number of installments: 20
Invested corpus: 1000000
Total corpus at end: 1914706.3647373845
Returns: 914706.3647373845
Returns %: 91.47063647373845 %