In [1]:
%%capture
%pip install yfinance

In [2]:
import yfinance as yf
import datetime

In [3]:
df = yf.download(['NIFTYMIDCAP150.NS', '^NSEI'], period='5y')
df.head()

C:\Users\ishui\AppData\Local\Temp\ipykernel_20796\2772433040.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(['NIFTYMIDCAP150.NS', '^NSEI'], period='5y')
[*********************100%***********************]  2 of 2 completed

Price                  Close                            High                \
Ticker     NIFTYMIDCAP150.NS         ^NSEI NIFTYMIDCAP150.NS         ^NSEI
Date
2020-07-23       5892.500000  11215.450195       5904.600098  11239.799805
2020-07-24       5879.350098  11194.150391       5892.950195  11225.400391
2020-07-27       5812.799805  11131.799805       5903.100098  11225.000000
2020-07-28       5855.450195  11300.549805       5862.100098  11317.750000
2020-07-29       5881.049805  11202.849609       5923.649902  11341.400391

Price                    Low                            Open                \
Ticker     NIFTYMIDCAP150.NS         ^NSEI NIFTYMIDCAP150.NS         ^NSEI
Date
2020-07-23       5861.200195  11103.150391       5866.399902  11135.000000
2020-07-24       5837.149902  11090.299805       5871.549805  11149.950195
2020-07-27       5805.500000  11087.849609       5896.850098  11225.000000
2020-07-28       5824.399902  11151.400391       5826.700195  11154.099609
2020-07-29       5863.149902  11149.750000       5875.649902  11276.900391

Price                 Volume
Ticker     NIFTYMIDCAP150.NS   ^NSEI
Date
2020-07-23               0.0  621600
2020-07-24               0.0  678900
2020-07-27               0.0  588100
2020-07-28               0.0  683900
2020-07-29               0.0  600700

In [4]:
closing_prices = df['Close']
print(closing_prices.info())
closing_prices.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1239 entries, 2020-07-23 to 2025-07-23
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NIFTYMIDCAP150.NS  1238 non-null   float64
 1   ^NSEI              1239 non-null   float64
dtypes: float64(2)
memory usage: 29.0 KB
None

Ticker      NIFTYMIDCAP150.NS         ^NSEI
Date
2020-07-23        5892.500000  11215.450195
2020-07-24        5879.350098  11194.150391
2020-07-27        5812.799805  11131.799805
2020-07-28        5855.450195  11300.549805
2020-07-29        5881.049805  11202.849609

In [5]:
closing_prices.dropna(inplace=True)
print(len(closing_prices))

1238

C:\Users\ishui\AppData\Local\Temp\ipykernel_20796\646364951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing_prices.dropna(inplace=True)

In [6]:
closing_prices["nifty_150_pct_change"] = closing_prices["NIFTYMIDCAP150.NS"].pct_change()
closing_prices["nifty_pct_change"] = closing_prices["^NSEI"].pct_change()

C:\Users\ishui\AppData\Local\Temp\ipykernel_20796\1253526494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing_prices["nifty_150_pct_change"] = closing_prices["NIFTYMIDCAP150.NS"].pct_change()
C:\Users\ishui\AppData\Local\Temp\ipykernel_20796\1253526494.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing_prices["nifty_pct_change"] = closing_prices["^NSEI"].pct_change()

In [7]:
closing_prices

Ticker,NIFTYMIDCAP150.NS,^NSEI,nifty_150_pct_change,nifty_pct_change
Date,,,,
2020-07-23,5892.500000,11215.450195,NaN,NaN
2020-07-24,5879.350098,11194.150391,-0.002232,-0.001899
2020-07-27,5812.799805,11131.799805,-0.011319,-0.005570
2020-07-28,5855.450195,11300.549805,0.007337,0.015159
2020-07-29,5881.049805,11202.849609,0.004372,-0.008646
...,...,...,...,...
2025-07-17,22006.250000,25111.449219,0.000452,-0.003990
2025-07-18,21858.849609,24968.400391,-0.006698,-0.005697
2025-07-21,21997.000000,25090.699219,0.006320,0.004898
2025-07-22,21884.050781,25060.900391,-0.005135,-0.001188
2025-07-23,21949.250000,25219.900391,0.002979,0.006345

In [29]:
BUDGET = 500000 # 5 lakh
INVESTMENT_CHUNK = 50000
START_DATE = datetime.date(2024, 7, 24)
START_DATE

datetime.date(2024, 7, 24)

In [43]:
def calculate_returns_SIP(closing_prices, start_date):
    df = closing_prices[start_date:]
    # print(df.head())
    corpus = 0
    for row in df.iterrows():
        print(row[0].date().day)


calculate_returns_SIP(closing_prices, START_DATE)

24
25
26
29
30
31
1
2
5
6
7
8
9
12
13
14
16
19
20
21
22
23
26
27
28
29
30
2
3
4
5
6
9
10
11
12
13
16
17
18
19
20
23
24
25
26
27
30
1
3
4
7
8
9
10
11
14
15
16
17
18
21
22
23
24
25
28
29
30
31
1
4
5
6
7
8
11
12
13
14
18
19
21
22
25
26
27
28
29
2
3
4
5
6
9
10
11
12
13
16
17
18
19
20
23
24
26
27
30
31
1
2
3
6
7
8
9
10
13
14
15
16
17
20
21
22
23
24
27
28
29
30
31
3
4
5
6
7
10
11
12
13
14
17
18
19
20
21
24
25
27
28
3
4
5
6
7
10
11
12
13
17
18
19
20
21
24
25
26
27
28
1
2
3
4
7
8
9
11
15
16
17
21
22
23
24
25
28
29
30
2
5
6
7
8
9
12
13
14
15
16
19
20
21
22
23
26
27
28
29
30
2
3
4
5
6
9
10
11
12
13
16
17
18
19
20
23
24
25
26
27
30
1
2
3
4
7
8
9
10
11
14
15
16
17
18
21
22
23